<!-- clase_8 --

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #cedbe1;
  color: #5376f5;
}

h1 {
  color: #d71717;
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  width: 900px;
  height: 900px;
  gap :10px;
}

.card {
  flex: 1 1 calc(33% - 20px); /* Las tarjetas ocupan aproximadamente 33% del ancho del contenedor menos el espacio */
  max-width: 250px; /* Tamaño máximo de la tarjeta */
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

.card:hover {
  transform: translateY(-10px);
}

.img {
  width: 100%; 
  max-width: 250px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: cover; 
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.09);
}
@media (max-width: 768px) {
  .card {
      flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 480px) {
  .card {
      flex: 1 1 100%; 
  }
}
button {
  background-color: #18579a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #59bae0;
  color :black;
}


  