/* Cambiar el fondo de la navbar */
.navbar {
  background-color: #1102dd; 
  border-bottom: 2px solid #153acf; 
  font-size: 38px; 

}


.navbar-nav .nav-link {
  color: rgb(33, 29, 226); 
  font-size: 38px; 
  transition: background-color 0.3s ease-in-out; /* Animación suave */
}

/* Cambiar el color cuando se pasa el mouse */
.navbar-nav .nav-link:hover {
  background-color: #1d99e1; /* Cambiar el fondo al pasar el mouse */
  color: #fff; /* Cambiar el color del texto */
}

/* Personalizar el botón de búsqueda */
.btn-outline-success {
  color: #fff;
  background-color: #4713f0;
  border-color: #f2fdf4;
}

.btn-outline-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* clase_8 */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #10abf4;
  color: #5376f5;
}

h1 {
  color: #d71717;
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
 /* width: 2000px;
  height: 2000px;*/
  gap :15px;
}

.card {
  flex-basis: calc(40.4% - 40px); 
  max-width: 300px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}

.card:hover {
  transform: translateY(-10px);
}

.img {
  width: 100%; 
  max-width: 250px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: cover; 
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.09);
}

@media (max-width: 768px) {
  .card {
      flex: 1 1 calc(80% - 20px); 
  }
}

@media (max-width: 480px) {
  .card {
      flex: 1 1 100%; 
  }
}

button {
  background-color: #18579a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #59bae0;
  color :black;
}



  